<% const toolbar = require("./views/toolbarData.ts") %>

<div id="toolbar">
    <div id="tb-tools">
        <% for( let i = 0; i < toolbar.data.main.length; i++ ) { %>
            <span>
            <% for( let j = 0; j < toolbar.data.main[i].length; j++ ) { 
                const item = toolbar.data.main[i][j];
                const title = item.title + " (" + item.shortcut + ")";
                %>
                <a title="<%- title %>" id="<%- item.id %>" class="tooltip">
                    <%- item.content %>
                        <span class="tooltiptext"><%- title %></span>
                </a>
            <% } %>
            </span>
        <% } %>
        <span class="drop">
            <a title="<%- toolbar.data.more.title %>" id="<%- toolbar.data.more.id %>">
                <%- toolbar.data.more.content %>
            </a>
            <ul>
            <% for( let i = 0; i < toolbar.data.dropdown.length; i++ ) { 
                const item = toolbar.data.dropdown[i];
                const title = item.title + " (" + item.shortcut + ")";
                %>
                <li><a title="<%- title %>" id="<%- item.id %>">
                    <%- item.content %>
                    <span><%- item.title %></span>
                    <span class="drop-kbd"><%- item.shortcut %></span>
                </a></li>
            <% } %>
            </ul>
        </span>
    </div>
</div>